In [1]:
from google.colab import drive
drive.mount('/content/gdrive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/gdrive

In [25]:
#problem1
import pandas as pd

df = pd.read_csv('/content/gdrive/My Drive/TopSellingAlbums.csv')
f1 = df["Released"] > 1979
f2 = df["Music Recording Sales (millions)"] > 24 
df.where(f1&f2)

            Artist          Album  Released  ... Released.1 Soundtrack  Rating
0  Michael Jackson       Thriller    1982.0  ...  30-Nov-82        NaN    10.0
1            AC/DC  Back in Black    1980.0  ...  25-Jul-80        NaN     9.5
2              NaN            NaN       NaN  ...        NaN        NaN     NaN
3  Whitney Houston  The Bodyguard    1992.0  ...  17-Nov-92          Y     8.5
4              NaN            NaN       NaN  ...        NaN        NaN     NaN
5              NaN            NaN       NaN  ...        NaN        NaN     NaN
6              NaN            NaN       NaN  ...        NaN        NaN     NaN
7              NaN            NaN       NaN  ...        NaN        NaN     NaN

[8 rows x 10 columns]

In [26]:
my_favorite_data = df.loc[f1& f2]
my_favorite_data

            Artist          Album  Released  ... Released.1 Soundtrack  Rating
0  Michael Jackson       Thriller      1982  ...  30-Nov-82        NaN    10.0
1            AC/DC  Back in Black      1980  ...  25-Jul-80        NaN     9.5
3  Whitney Houston  The Bodyguard      1992  ...  17-Nov-92          Y     8.5

[3 rows x 10 columns]

In [52]:
for i in range(len(df)):
  if df.loc[i,'Genre'].find('rock') != -1:
    print(i)

0
1
2
4
5
7

In [58]:
f3 = df["Genre"].str.find('rock') != -1
my_favorite_data = df.loc[f1& f2&f3]
my_favorite_data

            Artist          Album  Released  ... Released.1 Soundtrack  Rating
0  Michael Jackson       Thriller      1982  ...  30-Nov-82        NaN    10.0
1            AC/DC  Back in Black      1980  ...  25-Jul-80        NaN     9.5

[2 rows x 10 columns]